<!DOCTYPE html>
<html lang="en">
{% include "home/header.html" %}
<body>
  <div class="container">
    {% include "home/navi.html" with title=videoFile %}
    <div class="row loading-page">
      <h2 id="loading-message" class="text-center">Processing the video file...</h2>
    </div>
    <div class="row loading-page">
      <div class="loader"></div>
    </div>
    <div class="row invisible" id="result">
      <div class="col-md-4" id="tab">
        {% include "home/tab.html" %}
      </div>
      <div class="col-md-8">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Finished!</h4>
          <p>Total <b><span id="K"></span></b> characters are detected.</p>
          <hr>
          <p class="mb-0">The collecting process took <span id="collecting-time"></span> seconds and the clustering process took <span id="clustering-time"></span> seconds. You can rename or delete the characters (Optional). If you have finished renaming and deleting, select a menu on the left to see the analysis results.</p>
        </div>
        <table class="table" id="characters-info">
          <tr>
            <th>
              Character ID
            </th>
            <th>
              Image
            </th>
            <th>
              Name
            </th>
            <th>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>

<style>
.loading-page {
  padding: 30px;
}
.loading-page #loading-message {
  color: white;
  font-weight: 100;
  width: 100%;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #636363; /* grey */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
}
.character-image {
  width: 8rem;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.invisible {
  display: none;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
  var kField = $('span#K');
  var tab = $('#tab');
  var metadata_file_path = "";
  $.ajax({
      url : '/analysis',
      type : 'GET',
      data : {
        'videoFile': '{{ videoFile }}',
        'interval': {{ interval }},
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType:'json',
      success : function(data) {
        kField.text(data['K']);
        $('#collecting-time').text(data['collecting_time']);
        $('#clustering-time').text(data['clustering_time']);
        params = '';
        params += 'videoFile=' + escape('{{ videoFile }}');
        metadata_file_path = data['metadata_file_path'];
        params += '&metadata=' + escape(data['metadata_file_path']);
        $('#tab li a#characters').attr("href", "/characters?" + params);
        $('#tab li a#relationship').attr("href", "/relationship?" + params);
        $('#tab li a#emotion').attr("href", "/emotion?" + params);
        $('.loading-page').addClass('invisible');
        $('#result').removeClass('invisible');
        
        var characters = data['characters'];
        var table = $('table#characters-info');
        for (i = 0; i < characters.length; i++) {
          var ch = characters[i];
          table.append("<tr class='character-info' char-id=" + ch.character_id +"><td>"+ch.character_id+"</td><td><img class='character-image' src='/static/crop/" + ch.image_file_path + "'></td><td><input type='text' class='form-control' id='name-of-" + ch.character_id+ "' placeholder='Enter name'></td><td><div class='btn-group' role='group'><button class='btn btn-secondary apply-button' char-id=" + ch.character_id + ">Apply</button><button class='btn btn-danger delete-button' char-id=" + ch.character_id + ">Delete</button></div></td></tr>"); 
        } 
        $('.delete-button').click(function(){
          var char_id = $(this).attr('char-id');
          console.log("Delete " + char_id);
          $.ajax({
            url : '/delete',
            type : 'POST',
            data : {
              'charId': char_id,
              'metadata': metadata_file_path,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType:'json',
            success : function(data) {
              if (data.success) {
                $('.character-info[char-id='+char_id+']').addClass('invisible');
                alert("Successfully deleted!");
              }
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
          });
        });
        $('.apply-button').click(function(){
          var char_id = $(this).attr('char-id');
          var nameInput = $('#name-of-' + char_id).val();
          console.log(nameInput);
          $.ajax({
            url : '/set_name',
            type : 'POST',
            data : {
              'charId': char_id,
              'name': nameInput,
              'metadata': metadata_file_path,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType:'json',
            success : function(data) {
              if (data.success) {
                alert("Successfully saved!");
              }
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
          });
        });
        //$('#characters-info').text(JSON.stringify(data['characters']));
      },
      error : function(request,error)
      {
          alert("Request: "+JSON.stringify(request));
      }
  });
})
</script>
