<!DOCTYPE html>
<html lang="en">
{% include "home/header.html" %}
<body>
  <div class="container">
    {% include "home/navi.html" with title=videoFile %}
    <div class="row loading-page">
      <h2 id="loading-message" class="text-center">Processing the video file...</h2>
    </div>
    <div class="row loading-page">
      <div class="loader"></div>
    </div>
    <div class="row invisible" id="result">
      <div class="col-md-4" id="tab">
        {% include "home/tab.html" %}
      </div>
      <div class="col-md-8">
        <p><span id="K"></span> characters are detected.</p>
        <table class="table" id="characters-info">
          <tr>
            <th>
              Character ID
            </th>
            <th>
              Image
            </th>
            <th>
              Name
            </th>
            <th>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>

<style>
.loading-page {
  padding: 30px;
}
.loading-page #loading-message {
  color: white;
  font-weight: 100;
  width: 100%;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #636363; /* grey */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
}
.character-image {
  width: 8rem;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.invisible {
  display: none;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
  var kField = $('span#K');
  var tab = $('#tab');
  $.ajax({
      url : '/analysis',
      type : 'GET',
      data : {
        'videoFile': '{{ videoFile }}',
        'interval': {{ interval }},
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType:'json',
      success : function(data) {
        kField.text(data['K']);
        params = '';
        params += 'videoFile=' + escape('{{ videoFile }}');
        params += '&metadata=' + escape(data['metadata_file_path']);
        $('#tab li a#characters').attr("href", "/characters?" + params);
        $('#tab li a#relationship').attr("href", "/relationship?" + params);
        $('#tab li a#emotion').attr("href", "/emotion?" + params);
        $('.loading-page').addClass('invisible');
        $('#result').removeClass('invisible');
        
        var characters = data['characters'];
        var table = $('table#characters-info');
        for (i = 0; i < characters.length; i++) {
          var ch = characters[i];
          table.append("<tr class='character-info' character-id=" + ch.character_id +"><td>"+ch.character_id+"</td><td><img class='character-image' src='/static/crop/" + ch.image_file_path + "'></td><td><input type='text' class='form-control' value='" + ch.character_id + "'></td><td><div class='btn-group' role='group'><button class='btn btn-secondary'>Apply</button><button class='btn btn-danger'>Delete</button></div></td></tr>")  
        } 
        //$('#characters-info').text(JSON.stringify(data['characters']));
      },
      error : function(request,error)
      {
          alert("Request: "+JSON.stringify(request));
      }
  });
})
</script>
