<!DOCTYPE html>
<html lang="en">
{% include "home/header.html" %}
<body>
  <div class="container">
    {% include "home/navi.html" with title="Character Overviews" subtitle="" %}
    <div class="row">
      <div class="col-md-4">
        {% include "home/tab.html" %}
      </div>
      <div class="col-md-8">
      {% load static %}
      {% for char_id, features in overview %}
        <div class="row">
          <p class="character-label">Character {{ char_id }}</p>
        </div>
        <div class="row character-card">
          <div class="col-md-3">
            <img src="{% static 'crop/'|add:features.centroid_image %}" style="width: 100%;"/>
          </div>
          <div class="col-md-9">
            <ul>
            {% for feature, value in features.iteritems %}
              <li>{{ feature }}: {{ value }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>

<style>
.character-card {
  background: rgba(255,255,255,0.1);
  padding: 20px 5px;
  margin-bottom: 15px;
}
.character-label {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 10px;
}
