<!DOCTYPE html>
<html lang="en">
{% include "home/header.html" %}
<body>
  <div class="container">
    {% include "home/navi.html" with title=videoFile menu="Emotional Changes Graph" %}
    <div class="row">
      <div class="col-md-4">
        {% include "home/tab.html" %}
      </div>
      <div class="col-md-8">
        <h1>Character {{ character_id }}'s emotional changes</h1>
        {% for frame, data in emotions %}
        <h3>{{ frame }}</h3>
        {% for feature, value in data.0.scores.iteritems %}
        <p>{{ feature }}: {{ value }}<p>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
