<div class="row" style="padding-top:40px; padding-bottom:40px;">
  <div class="col-md-4 text-center">
    <h2 class="logo" style="width:100%;"><a href="/">MyDetective</a></h2>
    <h4 class="title">{{ title }} <small>{{ subtitle }}</small></h4>
  </div>
  <div class="col-md-8">
    {% if menu %}
      <h4 class="menu text-center">{{ menu }}<br><span class="oi oi-chevron-bottom"></span></h4>
    {% endif %}
  </div>
</div>

<style>
  .logo a {
    color: #fff;
    font-weight: 100;
  }
  .title {
    color: #eee;
  }
  .menu {
    line-height: 2.1rem;
    font-weight: 100;
  }
</style>
