<!DOCTYPE html>
<html lang="en">
{% include "home/header.html" %}
{% load static %}
<body>
  <div class="container">
    {% include "home/navi.html" with title=videoFile menu="Relationship" %}
    <div class="row">
      <div class="col-md-4">
        {% include "home/tab.html" %}
        <div class="row">
          <table class="table char-list">
          {% for key, value in relationships.iteritems %}
            <tr>
              <td>
                <img src="{% static 'crop/'|add:value.image %}"/>
              </td>
              <td>
                <button class="btn btn-outline-secondary view-button" char-id='{{ key }}'>View {{ key }}'s Relationship</button>
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <div id="container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto;"></div>
      {% for key, value in relationships.iteritems %}
        <div class="char-rel invisible" char-id='{{ key }}'>
          <h4 class="char-rel-list-title"><span class="oi oi-heart"></span> Character {{ key }}'s Relationship</h4>
          <table class="table char-rel-list" id="char-{{ key }}">
            <tr>
              <th>
                Character
              </th>
              <th>
                Image
              </th>
              <th>
                Level of Relationship
              </th>
            </tr>
            {% for rel in value.rels %}
            <tr>
              <td style="width: 4rem;">
                {{ rel.0 }}
              </td>
              <td style="width: 4rem;">
                <img src="{% static 'crop/'|add:rel.1 %}" />
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ rel.2 }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ rel.2|floatformat:1 }}%</div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
<style>
.invisible {
  display: none;
}
.view-button {
  color: white;
}
.char-list {
  margin: 20px 0;
}
.char-list img {
  width: 5rem;
}
.char-list td {
  text-align: center;
  vertical-align: middle;
    border: none;
}
.char-rel-list-title {
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}
.char-rel-list img{
  width: 5rem;
}
.char-rel-list td {
  text-align: center;
  vertical-align: middle;
}
.char-rel-list th {
  text-align: center;
  vertical-align: middle;
}
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
  $(document).ready(function(){
    var activate = function(id){
      $('.char-rel[char-id=' + id + ']').removeClass('invisible');
      $('.view-button[char-id=' + id + ']').addClass('disabled');
    };
    $('.view-button').click(function(){
      var characterId = $(this).attr('char-id');
      $('.char-rel').addClass('invisible');
      $('.view-button').removeClass('disabled');
      activate(characterId);
    });
    nullData = [];
    counter = 0;
    {% for charLabel in heatmap.category %}
    nullData.push([counter,counter,null])
    counter += 1;
    {% endfor %}
    Highcharts.chart('container', {
      chart: {
        type: 'heatmap',
        color: '#ffffff',
        backgroundColor: 'transparent',
        marginTop: 40,
        marginBottom: 80,
        plotBorderWidth: 1
      },
      title: {
        text: 'Overall Relationships',
        style: { "color": "#ffffff", "fontSize": "18px" }
      },
      xAxis: {
        categories: {{ heatmap.category }},
        labels: {
          style: {
            color: '#ffffff',
            fontSize: '14px'
          }
        }
      },
      yAxis: {
        categories: {{ heatmap.category }},
        title: null,
        labels: {
          style: {
            color: '#ffffff',
            fontSize: '14px'
          }
        }
      },
      colorAxis: {
        min: 0,
        minColor: '#FFFFFF',
        maxColor: Highcharts.getOptions().colors[0],
        labels: {
          style: {
            color: '#ffffff'
          }
        }
      },
      legend: {
        align: 'right',
        layout: 'vertical',
        margin: 0,
        verticalAlign: 'top',
        y: 25,
        symbolHeight: 280
      },
      tooltip: {
        formatter: function () {
          return '<b>' + this.series.yAxis.categories[this.point.y] + ' and ' + this.series.xAxis.categories[this.point.x] +'</b><br><b>' +
            this.point.value + '</b>';
        }
      },
      series: [{
        name: 'Relationship Value',
        borderWidth: 1,
        data: nullData.concat({{ heatmap.data }}),
        dataLabels: {
          enabled: true,
          color: '#000000'
        }
      }]
    });
  });
</script>
